{% extends "star_ratings/widget_base.html" %}
{% block rating_detail %}

    {% if not user.is_authenticated %}
        <div>
            <small>
                برای امتیاز دادن لطفا وارد شوید.
            </small>
        </div>
    {% endif %}

{% endblock %}