{% extends 'blog/base.html' %}
{% load comment_tags %} 
{% load ratings %}

{% load static %}

{% block title %} | {{object.title}} {% endblock %}
<link rel="icon" type="image/png" href="{% static 'registration/adminlte/mylogo/image/Tabriz_Linux.png' %}">

{% block main %}
 <!-- Page Header -->
	<header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>{{object.title}}</h1>
						{% if article.is_special %}
							<span class="badge badge-warning" style="font-size: 14px;" >ویژه</span>
						{% endif %}
						<time>{{object.jpublish}}</time>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto text-justify">
					{% if object.is_special %}
						{% if user.is_special_user or user == object.author or user.is_superuser %}
							{{object.description|safe}}
						{% else %}
							<p class="alert alert-warning">این یک مقاله ویژه است برای مشاهده آن باید <a class="alert-link" href="{% url 'account:purchase' %}">اشتراک ویژه </a>تهیه بکنید</p>
						{% endif %}
					{% else %}
						{{object.description|safe}}
					{% endif %}
				
					<div align="center">{% ratings object %}</div>
					{% render_comments object request %}
					{% include_static_jquery %}  
					{% include_bootstrap %}
				</div>
			</div>
		</div>
	</article>
{% endblock %}