{% extends 'blog/base.html' %}

{% load static %}
{% load ratings %}

{% block main %}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "blog/img/header.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1><i class="fab fa-linux"></i> Tabriz Linux</h1>
            <span class="subheading">A Blog For Help You're Linux Problem's </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% block header %}{% endblock %}
        
        {% for article in object_list %}
          <div class="post-preview">
          <a href="{% url 'blog:detail' article.slug %}">
            <h2 class="post-title">
              {{article.title}}
              {% if article.is_special %}
                <span class="badge badge-warning" style="font-size: 14px;" >ویژه</span>
              {% endif %}
            </h2>
            <div>{% ratings article %}</div>
            <h3 class="post-subtitle">
              {{article.description|striptags|truncatewords:20}}
            </h3>
          </a>
          <p class="post-meta">نوشته شده توسط 
            <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
            {{article.jpublish}}</p>
          <div>
            {% for cat in article.category.active %}
              <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
            {% endfor %}
          </div>
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
        {% if is_paginated %}
          <div class="clearfix pager-button">
            {% if page_obj.has_previous %}
              <a class="btn btn-primary float-left ml-3" href="{% block previous_page_url %}{% endblock %}">پست‌های جدید &rarr;</a>
            {% endif %}
            {% if page_obj.has_next %}
              <a class="btn btn-primary float-left" href="{% block next_page_url %}{% endblock %}">پست‌های قدیمی &larr;</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}